body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.image-banner {
    position: relative;
    height: 700px;
    width: 100%;
    
}
.text-top{
    position: absolute;
    text-align: center;
    left: 350px;
    bottom: 200px; 
    color: white;
}
h1{
    color: white;
    font-size: 40px;
}
.donation-button{
    text-decoration: none;
    padding: 10px 20px;
    background-color: tomato;
    color: white;
    border-radius: 4px;
}
.solution{
    text-align: center;
}
.taka{
    display: flex;
    
}
div.taka #taka-1{
    background-color: rgb(241, 237, 237);
    padding: 40px;
    margin: 50px;
    margin-left: 20x;
}
div.taka #taka-2{
    background-color: rgb(241, 237, 237);
    border: 2px solid tomato;
    padding: 40px;
    margin: 50px;
}
div.taka #taka-3{
    background-color: rgb(241, 237, 237);
    padding: 50px;
    margin: 50px;
}
div.taka #taka-4{
    background-color: rgb(241, 237, 237);
    padding: 50px;
    margin: 50px;
}
div.taka #taka-5{
    background-color: rgb(241, 237, 237);
    padding: 50px;
    margin: 50px;
}
.three-part-text{
    display: flex;
    width: 100%;
    
}
div.food-part-text{
    background-color: rgb(226, 229, 229);
    text-align: left;
    padding: 70px 20px;
    margin: 30px;
    font-weight: 400
    
}
div.shelter-part-text{
    background-color: rgb(183, 194, 194);
    text-align: left;
    padding: 70px 20px;
    margin: 30px;
    font-weight: 400
}
div.education-part-text{
    background-color: rgb(139, 141, 141);
    text-align: left;
    padding: 70px 20px;
    margin: 30px;
    font-weight: 400
}
.stuff{
    position: static;
    bottom: 5px;
    text-align: center;
    background-color: tomato;
    text-align: left;
    padding: 10px 

}