body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
/* section 1 */
.image-banner {
    position: relative;
    height: 700px;
    width: 100%;
}
.text-top{
    position: absolute;
    text-align: center;
    left: 350px;
    bottom: 200px; 
    color: white;
}
h1{
    color: rgb(27, 27, 27);
    font-size: 40px;
}
#heading-text{
    color: white;
    font-size: 40px;

}
.donation-button{
    text-decoration: none;
    padding: 10px 20px;
    background-color: tomato;
    color: white;
    border-radius: 4px;
}
          /* section 2 */
.section-2{
    text-align: center;
}
.section-2 p{
    color: gray;
    margin-top: 20px;
}
.taka{
    display: flex;  
}
.input{
    border: none;
}
div.taka #taka-1{
    background-color: rgb(241, 237, 237);
    padding: 40px;
    margin: 50px;
    margin-left: 20x;
}
div.taka #taka-2{
    background-color: rgb(241, 237, 237);
    border: 2px solid tomato;
    padding: 40px;
    margin: 50px;
}
div.taka #taka-3{
    background-color: rgb(241, 237, 237);
    padding: 50px;
    margin: 50px;
}
div.taka #taka-4{
    background-color: rgb(241, 237, 237);
    padding: 50px;
    margin: 50px;
}
div.taka #taka-5{
    background-color: rgb(241, 237, 237);
    padding: 50px;
    margin: 50px;
}
.three-part-text{
    display: flex;
    width: 100%;
    
}
   /* section-3 */
.section-3{
    text-align: center;
}
div.food-part-text {
    background-color: rgb(226, 229, 229);
    text-align: left;
    padding: 70px 20px;
    margin: 30px;
    font-weight: 400
    
}
div.shelter-part-text{
    background-color: rgb(183, 194, 194);
    text-align: left;
    padding: 70px 20px;
    margin: 30px;
    font-weight: 400
}
div.education-part-text{
    background-color: rgb(139, 141, 141);
    text-align: left;
    padding: 70px 20px;
    margin: 30px;
    font-weight: 400
}
     /* section-4 */
.middle-banner{
    position: relative;
    height: 900px;
    width: 100%;
    display:flex;
    text-align: center;
}
.middle-banner-text{
    position:absolute;
    text-align: left;
    padding: 20px;
    background-color: tomato;
    color: white;
    top: 2000px;
}
     /* section-5 */
.get-my-updata{
    text-align: center;
    color: black;
}
.Subscribe {
    padding: 60px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 40px;
    background-color: rgba(236, 185, 170, 0.534);
    text-align: center;
}
.email{
    height: 50px;
    width: 30%;
    background-color: rgba(190, 189, 189, 0.774); 
    border-style: none;
}
.Subscribe-btn{
    height: 53px;
    width: 15%;
    background-color: crimson;
    color: white;
    border-style: none;
    border-radius: 3px;
}
    /* footer */
.footer-box{
    background-color: black;
    color: antiquewhite;
    height: 70px;
    text-align: center;
    padding: 50px;
}